<h2>New Pokemon Entry:</h2>
<form action="/pokemons" method="post">

  <label>Name: </label>
  <input type="text" name="pokemon[name]"><br>

  <label>Image URL: </label>
  <input type="text" name="pokemon[img_url]"><br>

  <label>Pokemon Type: </label>
  <input type="text" name="pokemon[poke_type]"><br>

  <label>CP: </label>
  <input type="text" name="pokemon[cp]"><br>

  <input class="click" type="submit" value="Create the New pokemon">
</form>
<button>
  <a href="/pokemons">RETURN to Pokemons</a>
</button>
